{% extends "base.html" %}

{% block title %}Get Recommendations{% endblock %}

{% block content %}
    <h2>Get Recommendations</h2>
    <form action="{{ url_for('main.recommendation_results') }}" method="post">
        <div class="mb-3">
            <label for="visitorid" class="form-label">Enter Visitor ID:</label>
            <input type="number" class="form-control" id="visitorid" name="visitorid" placeholder="121688" required>
        </div>
        <button type="submit" class="btn btn-success">Get Recommendations</button>
    </form>
{% endblock %}
